.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}