.container__auth{
  /* background-color: rgba(9,9, 9, 0.4); */
  background: #FFF;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  
  display: flex;
  align-items: center;
  padding: 15px;
  flex-direction: column;
}
.form-control{
  color: aliceblue;
  display: flex;
  flex-direction: column;
}
.form-control input {
  margin: 10px 0;
  width: 100%;
}

.title__register{
  margin-bottom: 20px;
}

.form-control button{
  background-color: rgb(112, 227, 112);
}


